# Web Environment Variables

# Next Auth Configuration
# Generate with: openssl rand -base64 32
NEXTAUTH_SECRET="generate-a-random-32-character-string-here"
NEXTAUTH_URL="http://localhost:3000"

# API URL
NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"
